<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>io.github.fz77z.privacyflow</string>
    <key>CFBundleName</key>
    <string>PrivacyFlow</string>
    <key>CFBundleDisplayName</key>
    <string>PrivacyFlow</string>
    <key>CFBundleExecutable</key>
    <string>privacyflow</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>VERSION_PLACEHOLDER</string>
    <key>CFBundleVersion</key>
    <string>VERSION_PLACEHOLDER</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSUIElement</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>PrivacyFlow transcribes your dictation on this Mac. Audio is deleted as soon as it has been transcribed and is never sent anywhere.</string>
</dict>
</plist>
